body {
  margin: 0;
  background-color: #3498db;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: #ffff00;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.nav-links {
  margin-bottom: 30px;
  text-align: center;
}

.link {
  margin: 0 15px;
  text-decoration: none;
  color: #f5c6cb;
  font-weight: bold;
  font-size: 1.2em;
}

.content-box {
  border: 2px solid #f5c6cb;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #3498db;
}

.content-title {
  color: #ffff00;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-highlight {
  color: #b2ff00;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.content-description {
  color: #b2ff00;
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
